.wrapper_progress_bar {
  padding: 20px;
  gap: 6px;
  display: flex;
  flex-direction: column;
  min-width: 295px;
  max-width: 295px;
  width: 295px;
  min-height: 106px;
  max-height: 106px;
  height: 106px;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  inset: auto 0 180px 0;
  margin: 0 auto;
  .progress_bar_title {
    font-weight: 700;
    font-size: 15px;
    color: var(--color-darkblue);
    line-height: 22.4px;
  }
  .progress_bar {
    width: 100%;
    min-height: 8px;
    height: 8px;
    border-radius: 9px;
    background-color: var(--color-lightgrey);
  }
  .progress_bar_dote {
    background-color: var(--color-lightgreen);
    height: 100%;
    max-width: 100%;
    transition: width .3s ease;
    border-radius: 9px;
    position: relative;
    &::after {
      content: "";
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid var(--color-lightgreen);
      width: 12px;
      height: 12px;
      position: absolute;
      right: 0;
      top: -2px;
    }
  }
  .wrapper_number_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper_number_box_text {
    opacity: 0.6;
    font-size: 12px;
    line-height: 22.4px;
  }
}
