.leftbox {
  background-color: var(--color-lightgreen);
  position: relative;
  .wrapper_img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .daily_norma {
    position: absolute;
    width: 133px;
    height: 69px;
    border-radius: 15px;
    padding: 14px 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #fff;
    inset: 157px 64px;
    .daily_norma_text {
      font-weight: 700;
      font-size: 15px;
      line-height: 22.4px;
      color: var(--color-darkblue);
      order: 1;
    }
    .daily_norma_title {
      font-size: 12px;
      color: var(--color-black);
      opacity: .6;
      order: 2;
    }
  }
}
