body {
  position: relative;
}
.content {
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.3s linear;
}
.content.loaded {
  opacity: 1;
  transform: translateY(0px);
}
.box {
  width: 670px;
  height: 740px;
  border-radius: 30px;
  padding: 30px;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.hiddenElement {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 8px;
}
.swiper-scrollbar-drag {
  background-color: #323f47;
  height: 8px;
}
